<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <meta-data
            android:name="org.godotengine.plugin.v1.GodotFirebaseRemoteConfig"
            android:value="com.kriansoft.godotfirebaseremoteconfig.GodotFirebaseRemoteConfigPlugin" />
        <meta-data android:name="google_analytics_adid_collection_enabled" android:value="false" />
        <meta-data android:name="google_analytics_ssaid_collection_enabled" android:value="false" />
    </application>

</manifest>